<h3>You are not yet a member of @cs240-illinois</h3>

<p>
  Your account is not part of @cs240-illinois yet, so we can't make your repo. :(
</p>
<p>
  Follow the instructions to get invited to @cs240-illinois and come back to create your repo!
</p>