<h3>What GitHub account do you want to associate with @cs240-illinois?</h3>

<p>
  This account name is your <b>account on github.com (NOT your NetID)</b>.  We will send an invite for your account
  to join @cs240-illinois, where your course repo will exist behind your Illinois login.
</p>

<form method="POST">
  <input type="text" name="githubName" id="githubName" placeholder="Your github.com user name">
  <input type="submit" name="Submit" value="Create!">
</form>
